.editor-root {
    background: #fff;
    border: 1px solid #ddd;
    font-size: 14px;
    padding: 15px;
    margin: 25px 0 25px 0;
}

.editor {
    border-top: 1px solid #ddd;
    cursor: text;
    font-size: 16px;
    margin-top: 10px;
    min-height: 500px;
    overflow: hidden;
}
